body {
  margin: 0;
  background-color: #f3f3f3;
  padding: 40px 10px;
  color: #333;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

header {
  -webkit-app-region: drag;
  -webkit-app-selection: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header #logo {
  -webkit-app-region: no-drag;
  font-weight: 800;
  font-size: 16px;
}

header #buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

header #buttons button {
  -webkit-app-region: no-drag;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  padding: 4px;
  width: 24px;
  height: 24px;
  color: #999;
  font-weight: 800;
  font-size: 16px;
}

header #buttons button svg {
  vertical-align: super;
}

header #buttons button:hover {
  background-color: rgb(212, 212, 212);
}

header #buttons button.inactive {
  display: none;
}

main {
  margin-top: 10px;
  padding: 0 10px;
}

#settings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
}

#settings-container div {
  width: 25%;
}

#settings-container div select {
  width: 80%;
}

#video-container #preview {
  width: 300px;
  height: 150px;
}

#video-container #record {
  width: 300px;
  height: 150px;
}
